body{
    margin: 0;
    padding: 0;
    background: #fff
}

/*? Navbar */

.icon{
    width: 13%;
    padding: 8px 0 0 30px;
}

.dropdown:hover>.dropdown-menu{
    display: block;
}

nav{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #000;
}

nav ul{
    position: relative;
    top: 15px;
    right: 5%;
    margin: 0;
    float: right;
}

nav ul li{
    float: left;
    display: block;
    margin: 0 30px 0 30px;
}

nav ul li a{
    text-decoration: none;
    color: #ffd96f;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

nav ul li a:hover{
    color: #aa841b;
    text-decoration: none;
}

/*?End of Navbar*/
/*! Animations */

.sea{
    height: 100vh;
    background: linear-gradient(0deg,#3498db 50%, #fff 0%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.floating-text{
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 900;
    letter-spacing: 6px;
    color: #ffffff40;
    transform: translateY(0);
    animation: f11 3s infinite linear;
}

.floating-text::before{
    content: attr(data-text);
    position: absolute;
    color: #000;
    clip-path: polygon(0 0 ,100% 0,100% 50%,0 50%);
    animation: f12 3s infinite linear;
}

@keyframes f11{
    30%{
        transform: translateY(10%) rotate(4deg);
    }
    70%{
        transform: translateY(10%) rotate(-4deg);
    }
}

@keyframes f12{
    30%{
        clip-path: polygon(0 0,100% 0,100% 50%,0 50%);
    }
    70%{
        clip-path: polygon(0 0,100% 0,100% 56%,0 24%);
    }
}

/*! End of Animations */
/*? Scroll down contents */
.continue{
    width: 100%;
    height: 1517vh;
    background-image: linear-gradient(#3498db,#142738,#09191c)
}

.text{
    text-align: center;
}

.text h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #c2d3d6;
}

.text h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #c2d3d6;
    margin-top: 30%;
}

.text h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #c2d3d6;
}

.text h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #c2d3d6;
}

#treasure{
    width: 53.5%;
    justify-content: center;
    margin-top: 6%;
}

/*?End of contents*/